:root {
    --titulos: #00AA51;
    --titulos2: #61CE70;
    --titulos3: #8CCB51;
    --background-white: #FFF;
    --gray: rgba(150 150 150 / .8);
    --sombra: 0px 0px 10px 1px rgba(150 150 150 / .5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
    padding: 0 11%;
}
.resaltar-texto { color: var(--titulos); }
.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 8px;
    margin-bottom: 10px;
    border: 1px solid var(--titulos3);
    border-radius: 8px;
    color: var(--titulos3);
    background-color: transparent;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}
h2 {
    font-size: 40px;
    font-weight: 900;
}
h3 {
    font-size: 30px;
}
h4 {
    font-weight: 700;
}
.subtitulo {
    color: var(--gray);
    font-size: 12px;
    font-weight: 500;
}
.espacio-abajo { margin-bottom: 40px; }
.p-ancho { width: 400px; }





/* ================ */

.banner {
    width: 100%;
    height: auto;
    box-shadow: var(--sombra);
    margin-bottom: 50px;
}
.banner img {
    width: 100%;
    object-fit: contain;
}
.filtros {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
}
.filtros select {
    border: none;
    border-bottom: 1px solid var(--gray);
    outline: none;
    font-size: 14px;
    color: var(--gray);
}
.filtros input[type="checkbox"] {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    border-radius: 8px;
    border: 1px solid var(--gray);
}
.filtros input[type="text"] {
    padding: 6px 8px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    outline: none;
}
.filtros label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resultados {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    column-gap: 50px;
    row-gap: 80px;
    margin-bottom: 100px;
}
.tarjeta {
    position: relative;
    width: 310px;
    height: 400px;
    background-color: var(--background-white);
    border-radius: 8px;
    box-shadow: var(--sombra)
}
.tarjeta::before {
    position: absolute;
    top: -50px;
    left: -30px;
    content: '';
    width: 120px;
    height: 120px;
    background-color: var(--background-white);
    background-image: url('./assets/img/Logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: var(--sombra);
    border-radius: 50%;
}
.tarjeta_nombre, .tarjeta_descripcion { margin-bottom: 10px;}
.tarjeta > div { 
    height: 180px;
    padding: 0 16px;
}
.tarjeta > img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.mostrar-mas {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding-bottom: 4px;
    margin-bottom: 100px;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--titulos3);
    font-size: 20px;
    font-weight: 700;
    color: var(--titulos3);
    cursor: pointer;
}
.contacto, .contacto-num {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-decoration: none;
}
.contacto a {
    margin-top: 5px;
}
.contacto-num img {
    display: inline-block;
    margin-right: 5px;
}


.footer {
    display: flex;
    justify-content: space-between;
}
.footer > div {
    width: 50%;
    padding: 0 0 100px 150px;
}
.footer_logo img {
    max-width: 250px;
    margin-bottom: 30px;
}
.footer_contacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footer_contacto p:first-child { margin-bottom: 10px; }
.footer_contacto a {
    margin-right: 5px;
}