:root {
    --titulos: #00AA51;
    --titulos2: #61CE70;
    --titulos3: #8CCB51;
    --background-white: #FFF;
    --gray: rgba(150 150 150 / .8);
    --sombra: 0px 0px 10px 1px rgba(150 150 150 / .5);
}
@font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/_Helvetica LT 93 Black Extended.ttf');
}
@font-face {
    font-family: 'Circular-Black';
    src: url('../assets/fonts/CircularStd-Black.otf');
}
@font-face {
    font-family: 'Circular-Book';
    src: url('../assets/fonts/CircularStd-Book.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Circular-Book';
}
body {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;    
}
main {
    padding: 0 11%;
}
.resaltar-texto { color: var(--titulos); }
.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 29px;
    padding: 2px 8px 2px 6px;
    border: 1px solid var(--titulos3);
    border-radius: 4px;
    color: var(--titulos3);
    background-color: transparent;
    text-decoration: none;
    font-family: 'Circular-Black';
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.button img { margin-right: 8px; }
h2 {
    font-size: 36px;
    line-height: 28px;
    font-weight: 900;
    font-family: 'Helvetica';
}
h3 {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Circular-Black';
}
h4 {
    font-size: 14px;
    font-weight: 500;
}
.subtitulo {
    color: var(--gray);
    font-size: 14px;
    font-weight: 500;
}
.espacio-abajo { margin-bottom: 40px; }
.p-ancho { width: 450px; }

/* ================ */

.banner {
    width: 100%;
    height: auto;
    box-shadow: var(--sombra);
    margin-bottom: 50px;
}
.banner img {
    width: 100%;
    object-fit: contain;
}
.filtros {
    position: relative;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: var(--gray);
}
.select {
    position: relative;
    width: 190px;
    height: 24px;
    padding: 8px 8px 0 8px;
    margin-right: 12px;
    box-sizing: content-box;
    border: 1px solid transparent;
    border-bottom: none;
    cursor: pointer;
}
.select::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 190px;
    height: 2px;
    background-color: var(--gray);
}
.select-activate {
    color: var(--titulos);
    border: 1px solid var(--titulos);
    border-bottom: none;
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}
.select-activate::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 190px;
    height: 2px;
    background-color: var(--titulos);
}
.options {
    position: relative;
    width: 208px;
    left: -9px;
    bottom: -2px;
    height: 0;
    overflow-y: scroll;
    margin-top: 5px;
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 10;
    scrollbar-color: var(--titulos) transparent;
}
.options button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px 10px;
    background: transparent;
    border: none;
    font-family: 'Circular-Book';
    cursor: pointer;
}
.options-activate {
    height: auto;
    max-height: 200px;
    border: 1px solid var(--titulos);
    border-top: none;
}
.select span {
    display: block;
    position: absolute;
    bottom: -26px;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Circular-Book';
    color: #000;
    cursor: default;
}
.options::-webkit-scrollbar {
    -webkit-appearance: none;
}
.options::-webkit-scrollbar:vertical {
    width:5px;
}
.options::-webkit-scrollbar-button:increment,
.options::-webkit-scrollbar-button {
    display: none;
}
.options::-webkit-scrollbar:horizontal {
    height: 10px;
}
.options::-webkit-scrollbar-thumb {
    background-color: var(--titulos);
    border-radius: 20px;
    border: 2px solid transparent;
}
.option-selected {
    color: var(--titulos);
}
.option-selected::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 170px;
    height: 2px;
    background-color: var(--titulos);
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.filtros input[type="checkbox"] {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    border-radius: 8px;
    border: 1px solid var(--gray);
}
.hola::placeholder {
    color: var(--gray);
}
.filtros input[type="text"] {
    padding: 6px 8px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    outline: none;
}
.filtros label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resultados {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    column-gap: 50px;
    row-gap: 80px;
    margin-bottom: 100px;
}
.tarjeta {
    position: relative;
    width: 310px;
    height: 420px;
    background-color: var(--background-white);
    border-radius: 8px;
    box-shadow: var(--sombra)
}
.tarjeta_nombre {
    font-family: 'Circular-Black';
}
.tarjeta > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    padding: 0 12px;
}
.tarjeta div:first-child > h4 {
    height: 38px;
}
.tarjeta div:first-child > button {
    height: 26px;
}
.tarjeta > img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.tarjeta > div:last-child {
    display: flex;
    align-items: center;
    position: absolute;
    top: -50px;
    left: -30px;
    width: 120px;
    height: 120px;
    background-color: var(--background-white);
    box-shadow: var(--sombra);
    border-radius: 50%;
    overflow: hidden;
}
.tarjeta > div:last-child img {
    display: block;
    width: 120%;
    border-radius: 50%;
}
.mostrar-mas {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding-bottom: 4px;
    margin-bottom: 100px;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--titulos3);
    font-size: 20px;
    font-weight: 700;
    color: var(--titulos3);
    cursor: pointer;
}
.espacio { height: 50px; }
.espacio-title {
    max-height: 60px;
}
.contacto {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-decoration: none;
}
.contacto div:first-child a { align-items: center; }
.contacto div:last-child a{
    margin-right: 2px;
}
.contacto a {
    margin-top: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-family: 'Circular-Black';
}
.footer > div {
    width: 50%;
    padding: 0 0 100px 150px;
}
.footer_logo img {
    max-width: 250px;
    margin-bottom: 30px;
}
.footer_contacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footer_contacto p:first-child, .footer_contacto div { margin-bottom: 10px; }
.footer_contacto a {
    margin-right: 5px;
}
.hide {
    display: none;
}
a img {
    cursor: pointer;
}